body {
    background-color: #181818;
    color: white;
  }
  
  .cardcontact {
    background-color: #282828;
    border: none;
  }
  
  .card .card-title {
    color: rgba(41, 7, 7, 0.021);
    font-size: 1.2rem;
  }
  
  .card img {
    
    border: 2px ;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 700;
    
  }
  .rectangular-img {
    border-radius: 8px; /* Add a border radius to give rounded corners */
  }

  /* ========================about */
  
  .about-page {
    padding: 40px 0;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .card-text {
    font-size: 16px;
  }
  
  .social-icons a {
    color: #333;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #007bff;
  }
  /* ///////////////////////container1 */
  .small-card21 {
    width: 330px; 
    height: 250px; 
    border-radius: 15px;
  
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  
  
  .small-card21 img {
    width: 100%; /* Take the full width of the container */
    height: 100%; /* Maintain aspect ratio */
    display: block; /* Ensure block-level display */
    object-fit: cover; /* Cover the entire container maintaining aspect ratio */
    border-radius: 15px; /* Apply border radius */
  }
  .next{
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 35px;
    margin-left: 92vw;
    margin-top: -250px;
  }
  .prev{
    cursor: pointer;

    position: absolute;
    background-color: transparent;
    color: white;
    font-size: 35px;
   
    margin-top: -250px;
  }